<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="UCS修改商品" />
	<meta property="og:title" content="UCS修改商品" />
	<meta property="og:description" content="UCS修改商品" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>UCS修改商品</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Custom Stylesheet -->
	<link href="./vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
		<!--**********************************
            Header start
        ***********************************-->
		<div th:insert="userCommons::Header(headName='我的购物车')"></div>
		<!--**********************************
            Header end ti-comment-alt
        ***********************************-->

		<!--**********************************
            Sidebar start
        ***********************************-->
		<div th:insert="userCommons::Sidebar"></div>
		<!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">

                </div>
                <!-- row -->
                <div class="row" >
					<center>
						<div class="col-xl-5 col-xl-5">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">购物车</h4>
								</div>
								<div class="card-body">
									<div class="basic-form">
											<ul class="list-group mb-3" th:each="cart,iter:${list}" >
												<li class="list-group-item d-flex justify-content-between lh-condensed" >
													<div class="my-0">
														<img width="50" th:src="'images/pic/'+${cart.picUrl}" alt="" >
														<h6 class="my-0" th:text="'商品名：'+${cart.itemName}"></h6>
														<span class="text-muted " th:text="'单价￥'+${cart.price}"></span>

														<small class="text-muted" th:text="'数量x'+${cart.number}"></small>
													</div>

													<a  th:href="@{deleteCart(id=${cart.id})}" class="btn btn-danger btn-xs sharp "><i class="fa fa-trash"></i></a>
												</li>

											</ul>
											<center>
												<button type="button" class="btn btn-quora" th:text="'总价: ￥'+${sum}"><span class="btn-icon-end"><i
														class="fa fa-quora"></i></span>
												</button>
												<a href="/toIndentPage">
													<button type="button" class="btn btn-primary btn-rounded" >
														<span class="btn-icon-start text-primary"><i class="fa fa-shopping-cart"></i></span>
														购买
													</button>
												</a>
											</center>
									</div>
								</div>
							</div>

						</div>
					</center>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
		***********************************-->
		<div th:insert="commons::Footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="./js/custom.min.js"></script>
	<script src="./user/js/dlabnav-init.js"></script>


</body>
</html>
