<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="UCS修改订单" />
	<meta property="og:title" content="UCS修改订单" />
	<meta property="og:description" content="UCS修改订单" />
	<meta property="og:image" content="" />
	<meta name="format-detection" content="telephone=no">

	<!-- PAGE TITLE HERE -->
	<title>UCS修改订单</title>

	<!-- FAVICONS ICON -->
	<link rel="shortcut icon" type="image/png" href="images/favicon.png" />
    <!-- Custom Stylesheet -->
	<link href="./vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="./css/style.css" rel="stylesheet">

</head>

<body>

    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Header start
        ***********************************-->
		<div th:insert="commons::Header(headName='修改订单')"></div>

        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
		<div th:insert="commons::Sidebar"></div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)">订单管理</a></li>
						<li class="breadcrumb-item"><a href="javascript:void(0)">修改订单</a></li>
					</ol>
                </div>
                <!-- row -->
                <div class="row" >
					<center>
						<div class="col-xl-8 col-xl-8">
							<div class="card">
								<div class="card-header">
									<h4 class="card-title">订单信息</h4>
								</div>
								<div class="card-body">
									<div class="basic-form">
										<form action="/setIndent" method="post" th:object="${indent}">
											<div class="input-group mb-3  input-primary">
												<span class="input-group-text">ID</span>
												<input type="text" class="form-control" th:value="${indent.id}" name="id" readonly="readonly">
											</div>
											<div class="input-group mb-3  input-primary">
												<span class="input-group-text">用户ID</span>
												<input type="text" class="form-control" th:value="${indent.userId}" name="userId">
											</div>
											<div class="input-group mb-3  input-info">
												<span class="input-group-text">订单编号</span>
												<input type="text" class="form-control" th:value="${indent.orderSn}" name="orderSn">
											</div>
											<div class="input-group mb-3">
												<label class="input-group-text mb-0">订单状态</label>
												<select class="default-select  form-control wide" name="orderStatus">
													<option th:selected="${indent.orderStatus} eq 0" th:value="0">否</option>
													<option th:selected="${indent.orderStatus} eq 1" th:value="1">是</option>
													<option th:selected="${indent.orderStatus} eq 2" th:value="2">是</option>
													<option th:selected="${indent.orderStatus} eq 3" th:value="3">是</option>
												</select>
											</div>

											<div class="input-group mb-3  input-info">
												<span class="input-group-text">手机</span>
												<input type="text" class="form-control" th:value="${indent.phone}" name="phone">
											</div>

											<div class="input-group mb-3  input-info">
												<span class="input-group-text">地址</span>
												<input type="text" class="form-control" th:value="${indent.address}" name="address">
											</div>
											<div class="input-group mb-3  input-info">
												<span class="input-group-text">留言</span>
												<input type="text" class="form-control" th:value="${indent.message}" name="message">
											</div>
											<div class="input-group mb-3  input-success">
												<span class="input-group-text">商品价格</span>
												<input type="text" class="form-control" th:value="${indent.itemPrice}" name="itemPrice">
											</div>
											<div class="col-12">
												<button type="submit" class="btn btn-primary mb-2">提交</button>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</center>


                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
		***********************************-->
		<div th:insert="commons::Footer"></div>
        <!--**********************************
            Footer end
        ***********************************-->

        <!--**********************************
           Support ticket button start
        ***********************************-->

        <!--**********************************
           Support ticket button end
        ***********************************-->


    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="./vendor/global/global.min.js"></script>
	<script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <script src="./js/custom.min.js"></script>
	<script src="./js/dlabnav-init.js"></script>


</body>
</html>
